.button {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
