.modal-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: scale(0);
    // pointer-events: none;
    transition: 0.5s;
    &.active{
        opacity: 1;
        pointer-events: all;
        // transform: scale(1);
    }
    .modal-content {
    background-color: rgb(255, 68, 0);
    color: #fff;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    transform: scale(0.5);
    transition: 0.4s all;
    &.active {
        transform: scale(0.5);
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 38, 0);
        padding: 20px 15px;
    }
    .modal-text {
        text-align: center;
        padding: 50px 25px;
    }
    .modal-btn {
        // margin: 10px 40px;
    }
}
}
