.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 73, 159);
    // height: 40px;
    color: #fff;
    .footer_text{
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px;
        margin: 0;
    }
}