.busket-wrapper{
    .title-wrap{
        .title {
            text-transform: uppercase;
            color: red;
        }
    }
    .content-wrap{
        display: grid;
        grid-template-columns: repeat(3,  1fr);
        gap: 20px;
        margin: 20px 0;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            border: 2px solid rgb(11, 73, 159);
            border-radius: 10%;
            color: rgb(4, 48, 110);
            padding: 10px;
            .img-wrap {
                img {
                    width: 150px;
                    height: 150px;  
                }
            }
    
            .star {
                fill: rgb(11, 73, 159);
                cursor: pointer;
                position: absolute;
                top: 30px;
                right: 50px;
                width: 2em;
                height: 2em;
                &.active {
                    fill: yellow;
                    position: absolute;
                }
            }
    
            .product_name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 54%;
                padding: 10px 0 5px;
            }
            .name {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300;
                width: 50%;
            }
            .price {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}