.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(11, 73, 159);
    // height: 50px;
    padding: 20px 50px;
    position: relative;
    .header_logo {
        img {
            width: 90px;
        }
    }
    .header_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        .header_wrapper {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 0;
            margin: 0;    
        }
        .header_item {
                margin: 0 10px;
                list-style: none;
                .icon {
                    fill: #fff;
                    min-width: 40px;
                    min-height: 40px;
                    &:hover, &:active {
                        fill:rgb(234, 242, 3)
                    }
                }
                .counter{
                    text-align: center;
                    /* margin-top: 10px; */
                    background-color: red;
                    width: 20px;
                    border-radius: 50%;
                    height: 20px;
                    color: #fff;
                    // top: 65px;
                    // right: 144px;
                    position: absolute;
                }
                .fav {
                    top: 65px;
                    right: 85px;
                }
                .bus {
                    top: 65px;
                    right: 144px;
                }
            }
    }
}