.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(50, 50, 50);
    height: 50px;
    padding: 20px 50px;
    position: relative;
    .header_logo {
        img {
            width: 90px;
        }
    }
    .header-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        .counter{
            text-align: center;
            /* margin-top: 10px; */
            background-color: red;
            width: 20px;
            border-radius: 50%;
            height: 20px;
            color: #fff;
            top: 39px;
            right: 23px;
            position: absolute;
        }
    }
    
    .shop-cart {
        position: absolute;
        top: 90px;
        right: 0;
        width: 266px;
        min-height: 220px;
        background-color: red;
        z-index: 1000;

    }
    .select, .basket {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40px;
        height: 60px;
        position: relative;
    }
    .shop-cart-button, .select-button {
        display: flex;
        align-items: center; 
        justify-content: center;
        width: 2em;
        height: 2em;
        color: #fff;
        // float: right;
        margin: 0 4px;
        cursor: pointer;
        transition: color transform 500ms ease;
        &:hover,
        &.active {
            color: red;
            transform: scale(1.3);
        }
    }
    // .select-button {
    //     width: 2.5em;
    //     height: 2.5em;
    // }
}