.cards {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 20px;
    margin: 20px 0;
    // background-color: black;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(50, 50, 50);
        color: #fff;
        padding: 10px;
        .img-wrap {
            // width: 100px;
            // height: 100px;
            img {
                width: 150px;
                height: 150px;  
            }
        }

        .star {
            fill: #fff;
            cursor: pointer;
            &.active {
                fill: red;
            }
        }
    }
}